<!DOCTYPE html>
<html>
<head>
  <title>Nilesh Pandey | Tech Entrepreneur and Game Changer</title>
  <meta name="description" content="Welcome to nileshpandey.com - site of the biggest game changer this world has ever seen. Never heard of me? Well you just did. 
  Send me a shout if you're interested in talking anything tech!">
  <meta name="keywords" content="Nilesh Pandey, Nilesh, Pandey, software, entrepreneur, tech, entrepreneur, game changer, technology">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# stylesheet_link_tag 'landingpage' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15669499-2', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <div class='container-fluid'>
    <%= yield %>
  </div>
</body>
</html>
